:host {
    display: block;
    width: 100%;
    background: transparent !important;
}

.quick-actions-container {
    width: 100%;
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.btn-full-width {
    width: 100% !important;
    height: 3.5rem !important;
    font-size: 1.2rem !important;
    font-weight: 700 !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.btn-expense {
    background-color: #ea001e !important;
    border-color: #ea001e !important;
    color: #ffffff !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

.btn-expense:hover {
    background-color: #ba0517 !important;
    border-color: #ba0517 !important;
}

.btn-revenue {
    background-color: #2e844a !important;
    border-color: #2e844a !important;
    color: #ffffff !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.btn-revenue:hover {
    background-color: #1b5e20 !important;
    border-color: #1b5e20 !important;
}

.text-preview {
    color: #0176d3;
}