.alert-card-container {
  border-radius: 8px;
  border-left: 4px solid #fe9339;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.alert-badge-warning {
  background-color: #fe9339;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-badge-success {
  background-color: #2e844a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-warning {
  color: #dd7a01;
}

.text-success {
  color: #2e844a;
}

.text-overdue-date {
  color: #dd7a01;
  font-weight: 600;
}

.table-container {
  max-height: 250px;
}
